loki: 
  enabled: true
  isDefault: true
  persistence:
    enabled: false    # 지금은 파드 재시작 시 로그 따로 저장 x
  resources: 
    requests:
      cpu: 100m
      memory: 200Mi
    limits:
      cpu: 300m
      memory: 400Mi

promtail:
  enabled: true
  resources:
    requests:
      cpu: 50m
      memory: 80Mi
    limits:
      cpu: 150m
      memory: 150Mi

grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin1234
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 50m
      memory: 120Mi
    limits:
      cpu: 200m
      memory: 220Mi
  persistence:
    enabled: false  # 일단 대시보드 저장 x

fluent-bit:
  enabled: false

prometheus:
  enabled: false
